In [1]:

import pandas as pd
from muraves_lib import run_manager

In [2]:
import os
os.getcwd()

'/workspace/Software'

In [3]:
import pickle

with open('muraves/monitoring/data_scan_final.pkl', 'rb') as f:
    df = pickle.load(f)

In [4]:

df.query('hodoscope=="NERO" and run>2500 and run<2600')

,hodoscope,run,timestamp,day,hour,wp,temperature,humidity,trigger_rate,accidental_rate,orientation
46874,NERO,2501,1572121917353,2019-10-26,22:31,20.0,17.4,77.3,14.267,0.0,vesuvius
46875,NERO,2502,1572125457406,2019-10-26,23:30,20.0,17.2,78.0,14.750,0.0,vesuvius
46876,NERO,2503,1572129004240,2019-10-27,00:30,20.0,16.9,77.0,14.567,0.0,vesuvius
46877,NERO,2504,1572132545625,2019-10-27,01:29,20.0,16.7,76.0,14.583,0.0,vesuvius
46878,NERO,2505,1572136100919,2019-10-27,02:28,20.0,16.4,76.5,13.967,0.0,vesuvius
...,...,...,...,...,...,...,...,...,...,...,...
56072,NERO,2595,1572493758349,2019-10-31,04:49,20.0,15.5,96.9,14.417,0.0,vesuvius
56073,NERO,2596,1572497307684,2019-10-31,05:48,20.0,15.2,96.8,13.867,0.0,vesuvius
56074,NERO,2597,1572500856540,2019-10-31,06:47,20.0,15.2,96.7,13.383,0.0,vesuvius
56075,NERO,2598,1572504393374,2019-10-31,07:46,20.0,15.2,96.9,14.650,0.0,vesuvius
56076,NERO,2599,1572507926748,2019-10-31,08:45,20.0,15.5,97.0,14.450,0.0,vesuvius

In [ ]:


df = run_manager.create_database(raw_gz_path='/workspace/test/RAW_GZ')

print(df.head())
print(list(df["timestamp"]))

In [ ]:
# inquiry

def select_by_date(df, start_day, end_day) -> pd.DataFrame:
    # Convert input to datetime.date
    start_day = pd.to_datetime(start_day).date()
    end_day   = pd.to_datetime(end_day).date()

    df = df.copy()
    df["day"] = pd.to_datetime(df["day"]).dt.date  # force conversion always

    print("Start:", start_day, "End:", end_day)


    mask = (df["day"] >= start_day) & (df["day"] <= end_day)
    print("Rows selected:", mask.sum(), "out of", len(df))

    return df[(df["day"] >= start_day) & (df["day"] <= end_day)]


result = select_by_date(df, "2020-10-20", "2022-10-30")
print(result)

df.isna().any() 
df.isna().sum()        # count per column

In [ ]:
# EXAMPLE: Save ROOT with metadata
import ROOT
from utils import root_wrapper

# creo un istogramma dummy
h = ROOT.TH1F("h", "Example", 100, 0, 1)
h.FillRandom("gaus", 1000)

# genero sample con metadati
meta = root_wrapper.save_root_with_metadata("sample.root", h)
print("Metadati salvati:", meta)

In [ ]:
root_wrapper.load_root_metadata("sample.root")